[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "*"
pandas = "*"
google-cloud-bigquery = "*"
pyarrow = "*"
google-cloud-bigquery-storage = "*"

[requires]
python_version = "3.8"
